*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

.image-holder{
  background-color: white;
  width: 280px;
  margin: auto;
  height: 300px;
  position: relative;
  overflow: hidden;
  margin-top: 58px;
}

#image{
position: absolute;
bottom: -90px;
width: 100%;
height: 100%;
}
